html,body{
    margin:0;
    scroll-behavior: smooth;
}

body,html {
    font-family: 'Jura', sans-serif;
}

#nav-bar{
    width: 100%;
    position:fixed;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 80px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{margin:0;}

.nav-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:55%;
    background-color: rgb(1, 20, 36);
}

#nav-buttons-list{
display: flex;
gap: 15px;

}

.nav-buttons{
    display: flex;
}

.nav-button{
    display: flex;
    border-radius: 20px;
    padding: 13px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.nav-button:hover{
    background-color: rgb(0, 150, 170);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}

#hero-section{
    position: relative;
    height: 100vh;
    width: 100%;
}

#video-hero{
    position: absolute; 
    width: 100%; 
    left: 50%; 
    top: 50%;
    height: 100%; 
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -10;
}

#titles-hero{
    justify-content: center;
    display: flex;
    flex-direction: column;
text-align: center;
height: 100%;

}

.titles{
    color: antiquewhite;
}

#titleh1{
    font-size: 50px;
}

#prediction-tile{padding-top: 20px;}

#titleh2{
    font-size: 40px;
}

.row{
    display: flex;
    max-width: 100%;
    gap: 3%;
}

#prediction-section{
    height: 100vh;
    background-size: cover; /* Asegúrate de que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    box-shadow: 100%;
}

.titleh1{
    color: white;
}

h3{
    margin: 0;
    color: white;
}

.input-item{
    background-color: rgba(255, 255, 255, 0.185);
    border: none; 
    border-color: white;
    border-radius: 8px;
    padding-top:2%;
    padding-bottom: 2%;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
}

.prediction-main-container{
    background-color: rgba(255, 255, 255, 0.021); /* Fondo semitransparente para aplicar el efecto de blur */
    backdrop-filter: blur(10px); /* Aplica el efecto de blur */
    display: flex;
    flex-direction: column;
    gap:26px;
    height: 100vh;
}

#prediction-title{
    font-size: 30px;
}

.prediction-container{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10%;
}

.prediction-inputs{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap:35px;
    align-items: stretch;
    justify-content: stretch;
}

#submit-button{
    border-radius: 20px;
    border-color: white;
    background-color: transparent;
    padding: 13px;
    color:white;
    transition: background-color 0.4s ease, color 0.4s ease;
}

#submit-button:hover{
    background-color: rgb(0, 150, 170);
    border-color: rgb(0, 150, 170);
    transition: background-color 0.3s ease, color 0.3s ease;
    color:black;
}

.prediction-output{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap:70px;
    border-color: rgba(255, 255, 255, 0.185);
    border-style:groove;
    width: 70%;
    margin-top: 20px; /* Añade margen superior para separar del contenedor de inputs */
    padding: 20px; /* Añade padding alrededor del contenedor de resultados */
}

.results-container{
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: center;
    
}

.result-prediction{
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 208, 208, 0.185);
    border-radius: 10px;
    gap:20px;
    width: 50%;
    padding:10%;

}

.result-percentage{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    gap: 20px;
    width: 50%;
    padding:10%;
}

.advice-main-container{
    justify-content: center;
    padding: 10%;
}

.advice-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    gap: 20px;
}